.env
.venv/
venv/
__pycache__/
*.pyc

node_modules/
dist/
build/

.vscode/
.idea/

*.log

BEPRO_auto_tracker/bepro_browser_profile/
BEPRO_auto_tracker/bepro_browser_profile_quyen/
BEPRO_auto_tracker/chrome-bot-profile/